<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">    
    
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">    
    
    <!-- Console output -->    
    
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">    
       <layout class="org.apache.log4j.PatternLayout">    
          <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n" />    
      </layout>    
   </appender>
   
   <appender name="filelog_daily" class="org.apache.log4j.DailyRollingFileAppender">
   		<param name="Threshold" value="ALL"/>  
        <param name="File" value="/opt/logs/daily.log" />     
        <param name="DatePattern" value="'daily.'yyyy-MM-dd'.log'" />     
        <layout class="org.apache.log4j.PatternLayout">     
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n" />     
        </layout>     
   </appender>  
   
   <logger name="com.ibatis" additivity="true"> 
  <level value="DEBUG" /> 
 </logger> 
 <logger name="java.sql.Connection" additivity="true"> 
  <level value="DEBUG" /> 
 </logger> 
 <logger name="java.sql.Statement" additivity="true"> 
  <level value="DEBUG" /> 
 </logger> 
 <logger name="java.sql.PreparedStatement" additivity="true"> 
  <level value="DEBUG" /> 
 </logger> 
 <logger name="java.sql.ResultSet" additivity="true"> 
  <level value="DEBUG" /> 
 </logger> 
     
   <root>    
       <priority value="INFO" />    
       <appender-ref ref="STDOUT" />
       <appender-ref ref="filelog_daily" />
   </root>
   
    
</log4j:configuration> 
