<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjitech.dao.OrderSkuDao">
	<resultMap id="OrderSku" type="com.mjitech.model.OrderSku">
		<id column="id" property="id"/>
		<result column="skuid" property="skuid"/>
		<result column="skuspecid" property="skuspecid"/>
		<result column="orderamt" property="orderamt"/>
		<result column="specprice" property="specprice"/>
		<result column="orderid" property="orderid"/>
		<result column="creator" property="creator"/>
		<result column="updator" property="updator"/>
		<result column="create_datetime" property="createDatetime"/>
		<result column="update_datetime" property="updateDatetime"/>
	</resultMap>


	<sql id="Base_Column_List">
		 id,skuid,skuspecid,orderamt,specprice,orderid,
		 creator,updator,create_datetime,update_datetime
	</sql>


    <select id="getById" resultMap="OrderSku" parameterType="int">
        SELECT <include refid="Base_Column_List" />
        FROM mt_order_sku
        <where>
        	id=#{id}
        </where>
    </select>
    
    <select id="getBySname" resultMap="OrderSku" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List" />
        FROM mt_order_sku
        <where>
        	sname=#{sname} 
        </where>
    </select>
    
    <insert id="add" parameterType="com.mjitech.model.OrderSku" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO mt_order_sku(<include refid="Base_Column_List" />)
        VALUES ( #{id}, #{skuid}, #{skuspecid}, #{orderamt}, #{specprice}, #{orderid}, 
        	#{creator}, #{updator}, #{create_datetime}, #{update_datetime})
    </insert>
    
    <update id="update" parameterType="com.mjitech.model.OrderSku">
    	update mt_order_sku set 
    		update_datetime=#{updateDatetime},
    		
    		<if test="skuspecid != null and skuspecid != 0">
                skuspecid = #{skuspecid},
            </if>
            <if test="orderamt != null and orderamt != 0">
                orderamt = #{orderamt},
            </if>
            <if test="specprice != null and specprice != 0">
                specprice = #{specprice},
            </if>
        	updator=#{updator} where id=#{id}
    </update>
    
    <delete id="delete" parameterType="int">
    	delete from mt_order_sku where id=#{id}	
    </delete>
    
    <!--  
    <select id="getByCondition" resultMap="OrderSku" parameterType="com.mjitech.model.OrderSku">
        SELECT <include refid="Base_Column_List" />
        FROM mt_storage
        <where>
        	1=1
        	<if test="status != 0">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="barcode != null and barcode != ''">
                and barcode = #{barcode}
            </if>
        </where>
    </select>
    
    -->
    
</mapper>