<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjitech.dao.OrderDao">

	<resultMap id="Order" type="com.mjitech.model.Order">
		<id column="id" property="id"/>
		<result column="orderdate" property="orderdate"/>
		<result column="supplierid" property="supplierid"/>
		<result column="suppliercontactid" property="suppliercontactid"/>
		<result column="storehouseid" property="storehouseid"/>
		<result column="storehousemanagerid" property="storehousemanagerid"/>
		<result column="storehousemanagername" property="storehousemanagername"/>
		<result column="storehousemanagertel" property="storehousemanagertel"/>
		<result column="userid" property="userid"/>
		<result column="usertel" property="usertel"/>
		<result column="paydate" property="paydate"/>
		<result column="payname" property="payname"/>
		<result column="payaccount" property="payaccount"/>
		<result column="paybank" property="paybank"/>
		<result column="settlemode" property="settlemode"/>
		<result column="paymode" property="paymode"/>
		<result column="invoicetype" property="invoicetype"/>
		<result column="receivedate" property="receivedate"/>
		<result column="contract" property="contract"/>
		<result column="payamt" property="payamt"/>
		<result column="distamt" property="distamt"/>
		<result column="orderstate" property="orderstate"/>	
		<result column="creator" property="creator"/>
		<result column="updator" property="updator"/>
		<result column="create_datetime" property="createDatetime"/>
		<result column="update_datetime" property="updateDatetime"/>
	</resultMap>

	<resultMap id="OrderList" type="com.mjitech.model.Order">
		<id column="id" property="id"/>
		<result column="orderdate" property="orderdate"/>
		<result column="supplierid" property="supplierid"/>
		<result column="suppliercontactid" property="suppliercontactid"/>
		<result column="supplierusername" property="supplierusername"/>
		<result column="supplierusertel" property="supplierusertel"/>
		<result column="storehouseid" property="storehouseid"/>
		<result column="storehousemanagerid" property="storehousemanagerid"/>
		<result column="storehousemanagername" property="storehousemanagername"/>
		<result column="storehousemanagertel" property="storehousemanagertel"/>
		<result column="userid" property="userid"/>
		<result column="usertel" property="usertel"/>
		<result column="paydate" property="paydate"/>
		<result column="payname" property="payname"/>
		<result column="payaccount" property="payaccount"/>
		<result column="paybank" property="paybank"/>
		<result column="settlemode" property="settlemode"/>
		<result column="paymode" property="paymode"/>
		<result column="invoicetype" property="invoicetype"/>
		<result column="receivedate" property="receivedate"/>
		<result column="contract" property="contract"/>
		<result column="payamt" property="payamt"/>
		<result column="distamt" property="distamt"/>
		<result column="orderstate" property="orderstate"/>	
		<result column="creator" property="creator"/>
		<result column="updator" property="updator"/>
		<result column="create_datetime" property="createDatetime"/>
		<result column="update_datetime" property="updateDatetime"/>
		
		<result column="suppliername" property="suppliername"/>
		<result column="supplieraddress" property="supplieraddress"/>
		<result column="storehousename" property="storehousename"/>
		<result column="storehouseaddress" property="storehouseaddress"/>
		<result column="username" property="username"/>
		<result column="orderstatename" property="orderstatename"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,orderdate,supplierid,suppliercontactid,supplierusername,supplierusertel,
		storehouseid,storehousemanagerid,storehousemanagername,storehousemanagertel,
		userid,usertel,paydate,payname,payaccount,paybank,settlemode,paymode,
		invoicetype,receivedate,contract,payamt,distamt,orderstate,
		creator,create_datetime,updator,update_datetime
	</sql>


    <select id="getById" resultMap="Order" parameterType="int">
        SELECT <include refid="Base_Column_List" />
        FROM mt_order
        <where>
        	id=#{id}
        </where>
    </select>
    
    <insert id="add" parameterType="com.mjitech.model.Order" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO mt_order(<include refid="Base_Column_List" />)
        VALUES (#{id}, #{orderdate}, #{supplierid}, #{suppliercontactid}, #{supplierusername},
        	#{supplierusertel},#{storehouseid}, #{storehousemanagerid}, #{storehousemanagername},
        	#{storehousemanagertel},#{userid}, #{usertel}, #{paydate}, #{payname}, #{payaccount},
        	#{paybank}, #{settlemode},#{paymode}, #{invoicetype}, #{receivedate}, #{contract}, #{payamt}, 
        	#{distamt},#{orderstate}, #{creator}, #{createDatetime}, #{updator}, #{updateDatetime})
    </insert>
    
    <update id="update" parameterType="com.mjitech.model.Order">
    	update mt_order set 
    		update_datetime=#{updateDatetime},
    		
            <if test="supplierid != null and supplierid != 0">
                supplierid = #{supplierid},
            </if>
            <if test="suppliercontactid != null and suppliercontactid != 0">
                suppliercontactid = #{suppliercontactid},
            </if>
            <if test="supplierusername != null">
                supplierusername = #{supplierusername},
            </if>
            <if test="supplierusertel != null">
                supplierusertel = #{supplierusertel},
            </if>
            <if test="storehouseid != null and storehouseid != 0">
                storehouseid = #{storehouseid},
            </if>
            <if test="storehousemanagerid != null and storehousemanagerid != 0">
                storehousemanagerid = #{storehousemanagerid},
            </if>
            <if test="storehousemanagername != null">
                storehousemanagername = #{storehousemanagername},
            </if>
            <if test="storehousemanagertel != null">
                storehousemanagertel = #{storehousemanagertel},
            </if>
            <if test="userid != null and userid != 0">
                userid = #{userid},
            </if>
            <if test="usertel != null">
                usertel = #{usertel},
            </if>
            <if test="paydate != null">
                paydate = #{paydate},
            </if>
            <if test="payname != null and payname != ''">
                payname = #{payname},
            </if>
            <if test="payaccount != null and payaccount !=''">
                payaccount = #{payaccount},
            </if>
            <if test="paybank != null and paybank != ''">
                paybank = #{paybank},
            </if>
            <if test="settlemode != null and settlemode != 0">
                settlemode = #{settlemode},
            </if>
            <if test="paymode != null and paymode != 0">
                paymode = #{paymode},
            </if>
            <if test="invoicetype != null and invoicetype != ''">
                invoicetype = #{invoicetype},
            </if>  
            <if test="receivedate != null">
                receivedate = #{receivedate},
            </if>
            <if test="contract != null and contract != ''">
                contract = #{contract},
            </if>  
            <if test="payamt != null and payamt != 0">
                payamt = #{payamt},
            </if>  
            <if test="distamt != null and distamt != 0">
                distamt = #{distamt},
            </if>  
            <if test="orderstate != null and orderstate != 0">
                orderstate = #{orderstate},
            </if>  
            
        	updator=#{updator} where id=#{id}
    </update>
    
    <delete id="delete" parameterType="int">
    	delete from mt_order where id=#{id}	
    </delete>
    
    <select id="getOrderByCondition" resultMap="OrderList" parameterType="com.mjitech.model.Order">
        SELECT a.id,a.orderdate,a.supplierid,b.sname AS suppliername,b.address AS supplieraddress,
			a.suppliercontactid,a.supplierusername,a.supplierusertel,a.storehouseid,
			c.`name` AS storehousename,c.address AS storehouseaddress,a.storehousemanagerid,
			a.storehousemanagername,a.storehousemanagertel,a.userid,a.usertel,d.display_name AS username,
			a.paydate,a.payname,a.payaccount,a.paybank,a.settlemode,a.paymode,
			a.invoicetype,a.receivedate,a.contract,a.payamt,a.distamt,a.orderstate,
			a.creator,a.create_datetime,a.updator,a.update_datetime,
			case a.orderstate when 0 then '未生效' when '1' then '正在进行' when '2' then '已入库' when '3' then '已取消' end orderstatename
		FROM mt_order a
		LEFT JOIN mt_supplier b on a.supplierid = b.id
		LEFT JOIN mt_warehouse c on a.storehouseid = c.id
		LEFT JOIN mt_userinfo d on a.userid = d.id
        <where>
        	1=1
        	<if test="id != null and id != 0">
                and a.id = #{id}
            </if> 
        	and a.orderstate != 3
        </where>
        ORDER BY a.orderdate DESC
    </select>
    
</mapper>