<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjitech.dao.PointsDao">
	<resultMap id="Points" type="com.mjitech.model.Points">
		<id column="id" property="id"/>
		<result column="type" property="type"/>
		<result column="userid" property="userid"/>
		<result column="total" property="total"/>
		<result column="creator" property="creator"/>
		<result column="updator" property="updator"/>
		<result column="create_datetime" property="createDatetime"/>
		<result column="update_datetime" property="updateDatetime"/>
	</resultMap>


	<sql id="Base_Column_List">
        id, userid, type, total,
        creator, updator, create_datetime, update_datetime 
	</sql>


    <select id="getById" resultMap="Points" parameterType="int">
        SELECT <include refid="Base_Column_List" />
        FROM mt_points
        <where>
        	id=#{id}
        </where>
    </select>
    
    <select id="getByUserid" resultMap="Points" parameterType="int">
        SELECT <include refid="Base_Column_List" />
        FROM mt_points
        <where>
        	userid=#{userid}
        </where>
    </select>
    
    <insert id="add" parameterType="com.mjitech.model.Points" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO mt_points(<include refid="Base_Column_List" />)
        VALUES (#{id}, #{userid},#{type}, #{total}, 
        #{creator}, #{updator}, #{createDatetime}, #{updateDatetime})
    </insert>
    
    <delete id="delete" parameterType="int">
    	delete from mt_points where id=#{id}
    </delete>
    
    <update id="update" parameterType="com.mjitech.model.Points">
    	update mt_points set 
    		update_datetime=#{updateDatetime},
    		
            <if test="type != 0">
                type = #{type},
            </if>
            <if test="total != 0">
                total = #{total},
            </if>           
        	updator=#{updator} where id=#{id}
    </update>
</mapper>