<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjitech.dao.UserinfoDao">
	<resultMap id="Userinfo" type="com.mjitech.model.Userinfo">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="user_type" property="userType"/>
		<result column="display_name" property="displayName"/>
		<result column="gender" property="gender"/>
		<result column="mobild" property="mobilde"/>
		<result column="email" property="email"/>
		<result column="image" property="image"/>
		<result column="open_id" property="openId"/>
		<result column="creator" property="creator"/>
		<result column="updator" property="updator"/>
		<result column="create_datetime" property="createDatetime"/>
		<result column="update_datetime" property="updateDatetime"/>
		<result column="wx_bind_time" property="wxBindTime"/>
	</resultMap>


	<sql id="Base_Column_List">
        id, username, user_type, display_name, display_name_pinyin, gender, mobile, email, image, open_id, creator, updator, create_datetime, update_datetime, password, wx_bind_time
	</sql>


    <select id="getById" resultMap="Userinfo" parameterType="int">
        SELECT <include refid="Base_Column_List" />
        FROM mt_userinfo
        <where>
        	id=#{id}
        </where>
    </select>
    
    <select id="getByUsername" resultMap="Userinfo" parameterType="String">
        SELECT <include refid="Base_Column_List" />
        FROM mt_userinfo
        <where>
        	username=#{username}
        </where>
    </select>
    
    <insert id="add" parameterType="com.mjitech.model.Userinfo" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO mt_userinfo(<include refid="Base_Column_List" />)
        VALUES (#{id}, #{username}, #{userType}, #{displayName}, #{displayNamePinyin},
                #{gender}, #{mobile}, #{email}, #{image}, #{openId}, #{creator},
                #{updator}, #{createDatetime}, #{updateDatetime}, #{password}, #{wxBindTime})
    </insert>
    
    <update id="update" parameterType="com.mjitech.model.Userinfo">
    	update mt_userinfo set 
    		update_datetime=#{updateDatetime},
    		
    		<if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="userType != 0">
                user_type = #{userType},
            </if>
            <if test="displayName != null and displayName != ''">
                display_name = #{displayName},
            </if>
            <if test="gender != 0">
                gender = #{gender},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="wxBindTime != null">
                wx_bind_time = #{wxBindTime},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
        	updator=#{updator} where id=#{id}
    </update>
    
    <select id="getByCondition" resultMap="Userinfo" parameterType="com.mjitech.model.Userinfo">
        SELECT <include refid="Base_Column_List" />
        FROM mt_userinfo
        <where>
        	1=1
        	<if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="userType != 0">
                and user_type = #{userType}
            </if>
            <if test="displayName != null and displayName !='' ">
                and display_name = #{displayName}
            </if>
            <if test="gender != 0">
                and gender = #{gender}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="openId != null and openId != ''">
                and open_id = #{openId}
            </if>
            <if test="wxBindTime != null">
                and wx_bind_time = #{wxBindTime}
            </if>
            <if test="image != null and image != ''">
                and image = #{image}
            </if>
        </where>
        order by 
        <if test="sort!=null and sort!=''">
        #{sort}
        </if> 
        <if test="sort==null or sort==''">
        id 
        </if>
        limit #{begin},
        <if test="perpage &gt; 0 ">
        #{perpage}
        </if>
        <if test="perpage &lt;= 0 ">
        99999
        </if>
    </select>
    
    <delete id="delete" parameterType="int">
    	delete from mt_userinfo where id=#{id}
    </delete>
    
</mapper>