<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjitech.dao.WxAutoreplyDao">
	<resultMap id="WxAutoreply" type="com.mjitech.model.WxAutoreply">
		<id column="id" property="id"/>
		<result column="type" property="type"/>
		<result column="content" property="content"/>
		<result column="enabled" property="enabled"/>
		<result column="creator" property="creator"/>
		<result column="updator" property="updator"/>
		<result column="create_datetime" property="createDatetime"/>
		<result column="update_datetime" property="updateDatetime"/>
	</resultMap>
	
	<sql id="Base_Column_List">
        id, type, content, enabled, updator, create_datetime, update_datetime 
	</sql>   
    
    <insert id="add" parameterType="com.mjitech.model.WxAutoreply" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO mt_wx_autoreply(<include refid="Base_Column_List" />)
        VALUES (#{id},#{type},#{content},#{enabled},
        	#{creator}, #{updator}, #{createDatetime}, #{updateDatetime})
    </insert>    
    
    <select id="getById" resultMap="WxAutoreply" parameterType="int">
        SELECT <include refid="Base_Column_List" />
        FROM mt_wx_autoreply
        <where>
        	id=#{id}
        </where>
    </select>
    
    <delete id="delete" parameterType="int">
    	delete from mt_wx_autoreply where id=#{id}	
    </delete>    
    
    <update id="update" parameterType="com.mjitech.model.WxAutoreply">
    	update mt_wx_autoreply set 
    		update_datetime=#{updateDatetime},   		
    		<if test="type != 0">
                type = #{type},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="enabled != 0">
                enabled = #{enabled},
            </if>
        	updator=#{updator} where id=#{id}
    </update>    
    
    <select id="getByCondition" resultMap="WxAutoreply" parameterType="com.mjitech.model.WxAutoreply">
        SELECT <include refid="Base_Column_List" />
        FROM mt_wx_autoreply
        <where>
        	1=1
        	<if test="enabled != 0">
                and enabled = #{enabled}
            </if>
            <if test="type != 0">
                and type = #{type}
            </if>
        </where>
    </select>
    
    
</mapper>