$colf2:#f2f2f2;
$colgreen:#33CC66;
$colgreenhv:#28AA55;
$colred:#FF6666;
$colred2:#ffe5e5;
$colyellow:#ffcc33;
$colc9:#c9c9c9;
$col666:#666;
$col1:#ccc;
$col2:#959EAA;
$colbg1:#f7f8f9;
$colblue:#4f93e1;
$coltable:#eff1f3;
$bord1:#c2c8cf;
$bord2:#caced4;
$cole8:#e8e8e8;
$bg1:#ffffcc;